name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          mlflow run MLProject/ --env-manager local
          
      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model-files
          path: mlruns/
          
      - name: Build Docker Image 
        run: |
          mlflow models build-docker -m "runs:/dummy/model" -n "itopfajar/customer-churn-model:latest" --install-mlflow || true
