name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow dagshub scikit-learn pandas

      - name: Run MLflow Project
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }} 
        run: |
          export MLFLOW_TRACKING_URI=https://itopfajar:${{ secrets.DAGSHUB_TOKEN }}@dagshub.com/itopfajar/Eksperimen_SML_IsyrafFajar.mlflow
          mlflow run MLProject/ --env-manager local

      - name: Build Docker Image
        run: |
          mlflow models build-docker -m "runs:/dummy/model" -n "itopfajar/customer-churn-model:latest" --install-mlflow || true
