name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          mkdir -p mlruns
          export MLFLOW_TRACKING_URI=file://$(pwd)/mlruns
          mlflow run MLProject/ --env-manager local --experiment-name "Customer_Churn_Experiment"
          
      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model-files
          path: mlruns/

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: isyraffajar
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          MODEL_PATH=$(find mlruns -name "model" -type d | head -n 1)
          if [ -z "$MODEL_PATH" ]; then
            echo "Error: Folder model tidak ditemukan di mlruns!"
            exit 1
          fi
          echo "Folder model ditemukan di: $MODEL_PATH"

          mlflow models build-docker -m "$MODEL_PATH" -n "isyraffajar/customer-churn-model:latest" --install-mlflow
          docker push isyraffajar/customer-churn-model:latest    
      