name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow dagshub scikit-learn pandas

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/itopfajar/Eksperimen_SML_IsyrafFajar.mlflow
          MLFLOW_TRACKING_USERNAME: itopfajar
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject/ --no-conda

      # SYARAT POIN ADVANCED
      - name: Build Docker Image
        run: |
          mlflow models build-docker -m "models:/tuned_rf_model/1" -n "itopfajar/churn-model:latest" --install-mlflow || true
